body{
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
}

h2{
    color:#D4AF37;
}

.navbar{
    border-bottom:2px solid #D4AF37;
}

.btn-warning{
    background:#D4AF37;
    border:none;
    font-weight:bold;
}

.btn-warning:hover{
    background:#f4d03f;
}

section{
    padding-top:60px;
    padding-bottom:60px;
}